# Compiled CSS directory
static/css/

# Databases
*.db

# Private config files
*.env.js

# Dependency directory
node_modules

# Logs
npm-debug.log*

# WebStorm
.idea/

# OS X
.DS_Store*
