.device-wrapper{
	padding: 1em;
}

.device-item{
	padding: 0;
	@include fade-in();
}

.device-status.led{
	margin: 0 auto 2em;
	display: block;
}

.item-title{
	font-weight: bold;
	text-align: right;
}

table{
	width: 100%;

	td{
		padding: 0 1em;
		width: 50%;

		&.title{
			text-align: right;
		}
	}
}
