@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'outlets';
@import 'devices';
@import 'loader';
@import 'form';
@import 'navbar';
@import 'weathericons';

*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.pull-right{
	float: right;

	&:after{
		content: ' ';
		display: block;
		clear: both;
	}
}

.mobile{
	width: 100%;

	.row,
	.container {
		width: 100%;
	}

	.row{
		margin: 0;
	}
}

.container {
	width: 72%;
}

.invisible,
.clear{
	opacity: 0;
}

.fade-in{
	@include fade-in();
}

.hide{
	display: none;
}

// Bootstrap Override
.no-check-padding{
	padding-left: 0;
}

.indx-header,
.indx-body{
	text-align: center;
}
.indx-img{
	display: block;
	margin: auto;
	padding: 1em;
}
