@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';
@import 'outlets.scss';
@import 'devices.scss';
@import 'loader.scss';
@import 'form.scss';
@import 'navbar.scss';

*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.pull-right{
	float: right;

	&:after{
		content: ' ';
		display: block;
		clear: both;
	}
}

.mobile{
	width: 100%;

	.row,
	.container {
		width: 100%;
	}

	.row{
		margin: 0;
	}
}

.container {
	width: 72%;
}

.clear{
	opacity: 0;
}

// Bootstrap Overrides
.no-check-padding{
	padding-left: 0;
}
