.navbar{
	@include drop-shadow();
	background-color: #fff;

	.navbar-nav{
		padding-left: 1em;
	}

	.navbar-collapse{
		width: 100%;
		background-color: #fff;
		z-index: 2;

		&.show{
			@include drop-shadow();
		}
	}

	.navbar-toggler{
		z-index: 3;
	}
}

.navbar-text{
	table{
		tr,
		td{
			padding: 0;
		}

		.label{
			text-align: right;
		}

		.data{
			font-weight: bold;
		}
	}
}

.logo {
	width: 32px;
}

body.mobile{

	.navbar-text{
		display: none;
	}

	.navbar {
		height: 3.5em;
		margin: auto;
		width: 100%;
		background-color: #fff;

		.navbar-nav{
			padding-left: 0;
		}
	}

	.navbar-brand{
		display: none;
	}

	.navbar-collapse{
		width: 112%;
		margin-left: -1em;
		padding-left: 1em;
		margin-top: -0.5em;
		padding-top: 0.5em;

		&.collapse.show{
			padding-bottom: 0.3em;
		}
	}
}
